.app {
  text-align: left;
  display: flex;
}

.memo-list {
  width: 200px;
  margin: 30px;
}

.memo-list div {
  margin-bottom: 10px;
}

.memo-list .selected-memo {
  color: black;
}

.memo-list .unselected-memos {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.edit textarea {
  height: 200px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
}

.button-group {
  text-align: center;
}

button {
  margin: 5px;
  width: 70px;
  border-radius: 10px;
}

.login-button {
  width: 170px;
  text-align: right;
}
